#mapid { 
    width: 1200px;
    height: 600px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px 6px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}